<div id="container">
<%= image_tag "me.jpg" %>
<h1>John Yerhot</h1>
<p>I am foremorst an engineer who enjoys solving (and creating)
  problems.</p>
<p>In the last 10 years I've worked as a sole developer, on 2-3 person teams, written Ruby for the enterprise, helped scale and support some of the highest traffic Ruby applications on the Internet, and lead arguably the highest caliber <%= link_to "support teams","https://www.engineyard.com/support/pandas" %> working in the Cloud.</p>
<p>I like Open Source.</p>
<hr />
<h4>Contact Info</h4>
<ul>
  <li>Twitter: <%= link_to "@yerhot", "http://twitter.com/yerhot" %></li>
  <li>LinkedIn: <%= link_to "joyerhot", "http://www.linkedin.com/in/joyerhot"  %></li>
  <li>Github: <%= link_to "johnyerhot", "https://github.com/johnyerhot" %></li>
  <li>Email: <%= link_to "john@yerhot.org", "mailto:john@yerhot.org" %></li>
  <li>Skype: <%= link_to "joyerhot", "skype:joyerhot?call"%></li>
  <li>IRC: yerhot on #ruby.mn/freenode</li>
</ul>

</div>
