<h1>I'm John, yo.</h1>
<h3>I am a (in order):</h3>
<ol>
  <li>Father</li>
  <li>Husband</li>
  <li><%= link_to "Engine Yarder", "http://engineyard.com" %></li>
  <li>Music Junkie</li>
  <li>Movie Junkie</li>
</ol>


<p>I'm a big time nerd, and absolutly in love with the Ruby community.  It's been good to me and I've always tried to give back as much as I can.</p>
<p>I've done some cool stuff</p>

<ul>
  <li>Made a bunch of Open Source <%= link_to "screencasts", "http:fosscasts.yerhot.org" %>.</li>
  <li>Talked about <%= link_to "scaling up Rails", "http://rubymn-9-26-2011.john.yerhot.org/#1" %>.</li>
  <li>Wrote some <%= link_to "stuff", "http://railsmagazine.com/authors/2" %> a few years ago.</li>
  <li>Made an app for <%= link_to "Rails Rumble", "http://railsrumble.com/teams/srslyawesome" %>.</li>
</ul>
