<div id="container">
<h1>John Yerhot</h1>
<h3>I am, in order:</h3>
<ol>
  <li>A <%= link_to "Father", "http://family.yerhot.org" %>,</li>
  <li>A <%= link_to "Husband", "http://family.yerhot.org" %>.</li>
  <li>An <%= link_to "Engine Yarder", "http://engineyard.com" %>.</li>
  <li>A big nerd.</li>
  <li>A Music Junkie.</li>
  <li>A Movie Junkie.</li>
</ol>

<p>I am in love with the Open Source community.</p>

<ul>
  <li><%= link_to "Twitter", "http://twitter.com/yerhot" %></li>
  <li><%= link_to "LinkedIn", "http://www.linkedin.com/in/joyerhot"  %></li>
  <li><%= link_to "Githut", "https://github.com/johnyerhot" %></li>
</ul>

</div>
